<!DOCTYPE html>
<html>
<head>
    <title>Create a new list</title>
</head>
<body>
    <h1>Create a new list</h1>
    <form action="/todos/save" method="post">
        {% csrf_token %}
        <label for="name">Name:</label>
        </br>
        <input type="text" id="todoListName" name="todoListName">
        </br>
        <input type="submit" value="Create">
        </form">
</body>
</html>