<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <h2><a href="/todos/create">Create a new list</a></h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
                {% for todo_list in todo_lists %}
                <tr>
                    <td><a href="/todos/{{ todo_list.id }}">{{ todo_list.name }}</a></td>
                    <td>{{ todo_list.items.count }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
</body>
</html>